/lineer regression/.ipynb_checkpoints/
/deep learning project/.ipynb_checkpoints/
.idea
__pycache__
decorator/.ipynb_checkpoints/Untitled-checkpoint.ipynb
gui/.ipynb_checkpoints/Untitled-checkpoint.ipynb
gui/.ipynb_checkpoints/Lorenz System-checkpoint.ipynb
gui/.ipynb_checkpoints/gui-checkpoint.ipynb
gui/.ipynb_checkpoints/widget_styling-checkpoint.ipynb
gui/.ipynb_checkpoints/widgets-checkpoint.ipynb
